@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&family=Roboto&family=Ubuntu:wght@300;400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Example: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: page;
}

/* body {
  font-family: 'Manrope', Arial, sans-serif;
} */

body {
  font-family: 'Inter', Arial, sans-serif;
} 

/* Example pairing: */
/* h1, h2, h3 {
  font-family:  'Inter', Arial, sans-serif;
} */


/* body {
    font-family: playfair;
} */

.sticky__header {
    width: 100%;
    will-change: position;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 3px 3px -8px 3px #ddd;
    transition: all 0.5s ease-in;
    background-color: white;
}